#header{
	background-color: white;
	width:100%;
	border:0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Style Script', cursive;

}

#about{
	background-color: black;
	width:100%;
	border:0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Chewy', cursive;
}

#achievements{
	background-color: white;
	width:100%;
	border:0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Chewy', cursive;
}

#contact{
	background-color: #c2c0c3;
	width:100%;
	border:0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Chewy', cursive;
}
