#header{
	background-color: white;
	width:100%;
	border:0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Sacramento', cursive;

}

#about{
	background-color: #e6ffe6;
	width:100%;
	border:0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Chewy', cursive;
}

#achievements{
	background-color: white;
	width:100%;
	border:0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Chewy', cursive;
}

#contact{
	background-color: #e6ffe6;
	width:100%;
	border:0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Chewy', cursive;
}

#contact table{
	border-radius: 20px;
}
